.header {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr 2fr 1fr;
  grid-template-areas: ". logo search filter-btn login logout";
  grid-gap: 5px;
  align-items: center;

  padding: 20px 10px;
  background-color: cadetblue;

  &_logo {
    grid-area: logo;
    justify-self: end;
  }

  &_search {
    grid-area: search;
  }
  .filter-button {
    grid-area: filter-btn;
  }

  &_login {
    grid-area: login;
  }

  &_logout {
    grid-area: logout;
  }
}
