.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .form-title {
    font-size: 1.5rem;
    padding-bottom: 1rem;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: #fff;
    padding: 2rem;
    border-radius: 4px;
    background-color: cadetblue;

    .form-field {
      width: 100%;
      margin-bottom: 1rem;
    }

    .submit-button {
      width: 100px;
      align-self: flex-end;
    }
  }
}
