.card-create-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .form-title {
    font-size: 1.5rem;
    padding-bottom: 1rem;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    width: 500px;
    background-color: #fff;
    padding: 1rem;
    border-radius: 15px;
    background-color: cadetblue;

    .form-field {
      width: 100%;
      margin-bottom: 1rem;
    }

    .submit-button {
      margin-top: 0.5rem;
      width: 150px;
      align-self: flex-end;
    }
  }
}
