.filter {
  background-color: cadetblue;
  text-align: center;

  .filter-types {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;

    .date,
    .view,
    .text {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
    }
  }
}
