<div *ngIf="isOpen">
  Sorting by

  <div>date:
    <button color="primary" mat-icon-button aria-label="ascending sort by view"
      (click)="handleSortChange(SortTypeEnum.ASC, SortFieldEnum.DATE)">
      <mat-icon>arrow_drop_up</mat-icon>
    </button>
    <button color="primary" mat-icon-button aria-label="descending sort by view"
      (click)="handleSortChange(SortTypeEnum.DESC, SortFieldEnum.DATE)">
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
  </div>

  <div>count of views:
    <button color="primary" mat-icon-button aria-label="ascending sort by view"
      (click)="handleSortChange(SortTypeEnum.ASC, SortFieldEnum.VIEW)">
      <mat-icon>arrow_drop_up</mat-icon>
    </button>
    <button color="primary" mat-icon-button aria-label="descending sort by view"
      (click)="handleSortChange(SortTypeEnum.DESC, SortFieldEnum.VIEW)">
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
  </div>

  <span>by word or sentence
    <input type="text" ngModel [value]="sortValue" (ngModelChange)="onWordSort($event)" name="sortValue" />
  </span>


</div>